@font-face {
   font-family: 'CHEDDARGOTHIC-SERIF';
   font-display: swap;
   src: url('file:///Users/silviadominguez/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-02-08_112707/fonts/CHEDDARGOTHIC-SERIF/font.ttf');
}
